body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
 }
 
 h1 {
    color: royalblue;
 }
 
 button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: lightblue;
    border: none;
 }
 
 button:hover {
    background-color: darkblue;
    color: white;
 }